extends layout

block content
  h2 Chi siamo
  p GreenSteps è un progetto scolastico pensato per sensibilizzare i giovani sull'importanza dello sviluppo sostenibile.
  p Ogni piccolo gesto può fare la differenza: informati, agisci, condividi!
  a(href="/") ← Torna alla home