extends layout

block content
  h2 Chi siamo
  p GreenSteps è un progetto scolastico pensato per sensibilizzare i giovani sull'importanza dello sviluppo sostenibile.
  p Ogni piccolo gesto può fare la differenza: informati, agisci, condividi!

  h3 Emissioni 
  ul
    li Tempo: #{dati.tempo_passato}
    li CO2: #{dati.co2_emessa}
    li Cibo: #{dati.cibo_sprecato}
    li Acqua #{dati.acqua_sprecata}
