extends layout

block content
  h2 Agenda 2030 - Obiettivi principali
  ul
    li Obiettivo 12: Consumo e produzione responsabili
    li Obiettivo 13: Lotta contro il cambiamento climatico
    li Obiettivo 15: Vita sulla Terra
  p Questi obiettivi ci aiutano a costruire un futuro più giusto e sostenibile per tutti.
  a(href="/") ← Torna alla home