extends layout

block content
  h2 Consigli per uno Stile di Vita Sostenibile

  p Vivere in modo sostenibile è una scelta importante per il benessere del nostro pianeta. Ecco alcuni semplici gesti quotidiani che possono fare la differenza:

  ul
    li
      h3 Spegni le luci quando non servono
      p Ricordati di spegnere le luci ogni volta che esci da una stanza. Ridurre il consumo energetico aiuta a diminuire le emissioni di CO₂ e a preservare le risorse naturali.
      img(src="/images/spegnere-le-luci.jpeg", alt="Spegni le luci", width="300")
    li
      
      h3 Usa una borraccia riutilizzabile
      p Evita l'utilizzo di bottiglie di plastica monouso: scegli una borraccia riutilizzabile per contribuire a ridurre l'inquinamento da plastica.
      img(src="/images/borraccia.jpg", alt="Borraccia riutilizzabile", width="300")
    li
      
      h3 Fai la raccolta differenziata
      p Separare correttamente i rifiuti permette di riciclare i materiali e ridurre l'impatto ambientale dei nostri consumi quotidiani.
      img(src="/images/raccolta-differenziata.jpeg", alt="Raccolta differenziata", width="300")
    li
      h3 Evita lo spreco di cibo
      p Pianifica i tuoi acquisti e consuma gli alimenti prima della scadenza per ridurre lo spreco. Recuperare e riutilizzare il cibo avanzato è un gesto prezioso per l'ambiente e per la società.
      img(src="/images/spreco-cibo.jpg", alt="Evita lo spreco di cibo", width="300")