extends layout

block content
  h2 Consigli Sostenibili
  ul
    li Spegni le luci quando non servono
    li Usa una borraccia riutilizzabile
    li Fai la raccolta differenziata
    li Evita lo spreco di cibo