extends layout

block content
  .login-form
    h2 Accedi
    if error
      .alert.error Per favore inserisci username e password validi
    
    form#loginForm(method="POST")
      .form-group
        label(for="username") Username
        input(type="text" id="username" name="username" required)
      
      .form-group
        label(for="password") Password
        input(type="password" id="password" name="password" required)
      
      button(type="submit") Accedi
    
    p Non hai un account? Registrati per contribuire alle missioni!