extends layout

block content
  .card
    h2 Quiz sull'Agenda 2030
    p Metti alla prova le tue conoscenze sugli Obiettivi di Sviluppo Sostenibile!
    
    form#quizForm
      #domandeContainer
        .loading Caricamento domande...
    
      button(type="submit") Verifica Risposte
    
    #risultato